<div class="container my-5">
    <h1>Customer Details</h1>
    <table class="table">
        <thead>
            <tr>
                <th>cusId</th>
                <th>cusFirstName</th>
                <th>cusLastName</th>
                <th>cusDateofBirth</th>
                <th>cusEmail</th>
                <th>cusGender</th>
                <th>cusNic</th>
                <th>cusMobileNo</th>
                <th>cusPassword</th>
                <!-- <th>cusRegistrationDate</th>
                <th>cusIsActive</th> -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cusDetails of newdata">
                <td>{{cusDetails.cusId}}</td>
                <td>{{cusDetails.cusFirstName}}</td>
                <td>{{cusDetails.cusLastName}}</td>
                <td>{{cusDetails.cusDateofBirth}}</td>
                <td>{{cusDetails.cusEmail}}</td>
                <td>{{cusDetails.cusGender}}</td>
                <td>{{cusDetails.cusNic}}</td>
                <td>{{cusDetails.cusMobileNo}}</td>
                <td>{{cusDetails.cusPassword}}</td>
                <td><button class="btn btn-primary" (click)="onsubmit(cusDetails)">Edit</button> </td>   
                <!-- <td><button class="btn btn-primary" [routerLink]="[cusDetails.cusId]" (click)="onsubmit">Edit</button> </td>   -->
                <td><button class="btn btn-danger" (click)="delete(cusDetails)">delete</button></td>
            </tr>
        </tbody>
    </table>
</div>
