<!-- Section: Design Block -->
<section class=" text-center text-lg-start">
    <style>
      .rounded-t-5 {
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
      }
  
      @media (min-width: 992px) {
        .rounded-tr-lg-0 {
          border-top-right-radius: 0;
        }
  
        .rounded-bl-lg-5 {
          border-bottom-left-radius: 0.5rem;
        }
      }
    </style>
    <div class="card mb-3">
      <div class="row g-0 d-flex align-items-center">
        <div class="col-lg-4 d-none d-lg-flex">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" alt="Trendy Pants and Shoes"
            class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5" />
        </div>
        <div class="col-lg-8">
          <div class="card-body py-5 px-md-5">
            <div class="card-header">
                <h2 class="card-title">Login Here</h2><br>
            </div>
            <form [formGroup]="myForm" (ngSubmit)="submit()" >
                <div class="card-body ">               
                    <div class="form-group col-sm-6">
                        <label for="userName">User Name</label>
                        <input type="text"
                         formControlName="userName" 
                         name="userName"
                          class="form-control"
                           id="userName" 
                           placeholder="enter username" 
                          required >
                           
                        <!-- <div *ngIf="myForm.get('username').invalid && (myForm.get('username').dirty || myForm.get('username').touched)">
                            <div *ngIf="myForm.get('username').errors.required">Username is required</div>
                          </div> -->
                    </div>
                                     
                      <div class="form-group  col-sm-6">
                        <label for="userpassword">Password</label>
                        <input type="password" formControlName="userpassword" name="userpassword" class="form-control" id="userpassword" placeholder="enter password" >
                        <small class="form-text text-muted" *ngIf="myForm.controls.userpassword.invalid && myForm.controls.userpassword.touched">Password is required</small>
                    </div> 
                   
                </div>             
                <div class="card-footer">
                    <!-- <button type="submit"  (click)="Submit()" class="btn btn-primary">Login</button> -->
                    <button [disabled]="myForm.invalid" type="submit" [disabled]="myForm.invalid" class="btn btn-primary">Login</button>
                </div>      
            </form>
  
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section: Design Block -->