<p>test works!</p>

<div class="container my-5">
    <h1>Customer Details</h1>
    <table class="table">
        <thead>
            <tr>
                <th>cusId</th>
                <th>cusFirstName</th>
                <th>cusLastName</th>
                <th>cusDateofBirth</th>
                <th>cusEmail</th>
                <th>cusGender</th>
                <th>cusNic</th>
                <th>cusMobileNo</th>
                <th>cusPassword</th>
                <!-- <th>cusRegistrationDate</th>
                <th>cusIsActive</th> -->
            </tr>
        </thead>
        <tbody>
           
        </tbody>
    </table>
</div>
