<div class="container my-5">
  <h1>Installement Details</h1>
  <table class="table">
      <thead>
          <tr>
              <th>cusFirstName</th>
              <th>productName</th>
              <th>loanBalance</th>
              <th>installmentPlan</th>
              <th>usedAmount</th>          
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let payment of newdata">
              <td>{{payment.cusFirstName}}</td>n
              <td>{{payment.productName}}</td>
              <td>{{payment.loanBalance}}</td>
              <td>{{payment.installmentPlan}}</td>
              <td>{{payment.usedAmount}}</td>
            
          </tr>
      </tbody>
  </table>
</div>
